<div nz-row style="border-bottom: 1px solid #e8e8e8;">
    <div nz-col nzSpan="14">
        <span>
            <!-- <img src="../../assets/img/tubiao.png"> -->
        </span>
    </div>
    <div nz-col nzSpan="10">
        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item (click)="goHome()">
                <i nz-icon nzType="home"></i>
                首页
            </li>
            <li nz-menu-item (click)="goTag()">
                <i nz-icon nzType="tag"></i>
                标签
            </li>
            <li nz-menu-item (click)="goHome()">
                <i nz-icon nzType="tablet"></i>
                分类
            </li>
            <li nz-menu-item>
                <i nz-icon nzType="robot"></i>
                关于我
            </li>
        </ul>
    </div>
</div>