.pull-left{
    float: left !important;
}

.pull-right{
    float: right !important;
}

.text-center{
  text-align:center
}
.text-left{
  text-align:left
}
.text-right{
  text-align:right
}

.tag-title{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.margin-left-s{
    margin-left: 5px;
}
.margin-left-sl{
  margin-left: 8px;
}
.margin-left-sll{
  margin-left: 10px;
} 
.margin-left-sm{
  margin-left: 12px;
} 
.margin-left-m{
  margin-left: 15px;
} 
.margin-left-m{
  margin-left: 18px;
} 
.margin-left-ms{
  margin-left: 20px;
} 

.margin-top-sl{
    margin-top: 8px;
}
.margin-top-sll{
    margin-top: 10px;
}
.margin-top-sm{
    margin-top: 12px;
}
.margin-top-m{
  margin-top: 15px;
}
.margin-top-mm{
  margin-top: 18px;
}
.margin-top-ms{
  margin-top: 20px;
}
.margin-top-ml{
  margin-top: 30px;
}

.margin-bottom-ms{
  margin-bottom: 20px;
} 
.margin-bottom-ml{
  margin-bottom: 30px;
} 