.title-main{
    //font-size:30px;
    display: block;
    text-align: -webkit-center;
}

.blockquote{
    border-left: 5px solid #dce6f0;
    padding: 1rem .8rem .2rem .8rem;
    color: #666;
    background-color: #f2f7fb;
}