.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    padding: 0 50px;
  }

  nz-footer {
    text-align: center;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

.pull-left{
    float: left !important;
}

.pull-right{
    float: right !important;
}

.tag-title{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.margin-left-s{
    margin-left: 5px;
}
.margin-top-sl{
    margin-top: 8px;
}
.margin-top-sll{
    margin-top: 10px;
}
.margin-top-sm{
    margin-top: 12px;
}
  