<app-head></app-head>
<div nz-row>
    <div nz-col nzSpan="5">
    </div>
    <div nz-col nzSpan="14">
        <div nz-row>
            <div class="margin-top-sm">
                <nz-card>
                    <div class="tag-title">
                        <i nz-icon nzType="heart" nzTheme="outline"></i>
                        <span class="margin-left-s">推荐标签</span>
                    </div>
                    <div>
                        <span class="margin-left-s">
                            <button nz-button [nzSize]="size" nzType="primary">TAG1</button>
                        </span>
                        <span class="margin-left-s">
                            <button nz-button [nzSize]="size" nzType="primary">TAG2</button>
                        </span>
                        <span class="margin-left-s">
                            <button nz-button [nzSize]="size" nzType="primary">TAG3</button>
                        </span>
                    </div>
                </nz-card>
            </div>
        </div>
        <div nz-row>
            <div class="margin-left-m">
                <div nz-col nzSpan="8" class="margin-top-sm">
                    <nz-card style="width:350px;" [nzCover]="coverTemplate1" [nzHoverable]="true"
                        [nzActions]="[timeSetting1,typeSetting1]">
                        <nz-card-meta [nzAvatar]="avatarTemplate1">
                        </nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate1>
                        <img (click)="goEssay()" alt="example"
                            src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
                    </ng-template>
                    <ng-template #avatarTemplate1>
                        <div>
                            <h3>Vue项目打包编译优化</h3>
                            <span>当一个较复杂的vue项目打包后，文件会非常大，而且访问时资源加载速度很慢，所以...</span>
                        </div>
                        <div class="margin-top-sl">
                            <nz-tag [nzColor]="'#108ee9'">web开发</nz-tag>
                            <nz-tag [nzColor]="'#108ee9'">vue.js</nz-tag>
                        </div>
                    </ng-template>
                    <ng-template #timeSetting1>
                        <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                        <span class="margin-left-s">2019-08-14</span>
                    </ng-template>
                    <ng-template #typeSetting1>
                        <i nz-icon nzType="book" nzTheme="outline"></i>
                        <span class="margin-left-s">前端技术</span>
                    </ng-template>
                </div>
                <div nz-col nzSpan="8" class="margin-top-sm">
                    <nz-card style="width:350px;" [nzCover]="coverTemplate" [nzHoverable]="true"
                        [nzActions]="[timeSetting,typeSetting]">
                        <nz-card-meta [nzAvatar]="avatarTemplate">
                        </nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate>
                        <div></div>
                        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
                    </ng-template>
                    <ng-template #avatarTemplate>
                        <div>
                            <h3>Vue项目打包编译优化</h3>
                            <span>当一个较复杂的vue项目打包后，文件会非常大，而且访问时资源加载速度很慢，所以...</span>
                        </div>
                        <div class="margin-top-sl">
                            <nz-tag [nzColor]="'#108ee9'">web开发</nz-tag>
                            <nz-tag [nzColor]="'#108ee9'">vue.js</nz-tag>
                        </div>
                    </ng-template>
                    <ng-template #timeSetting>
                        <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                        <span class="margin-left-s">2019-08-14</span>
                    </ng-template>
                    <ng-template #typeSetting>
                        <i nz-icon nzType="book" nzTheme="outline"></i>
                        <span class="margin-left-s">前端技术</span>
                    </ng-template>
                </div>
                <div nz-col nzSpan="8" class="margin-top-sm">
                    <nz-card style="width:350px;" [nzCover]="coverTemplate" [nzHoverable]="true"
                        [nzActions]="[timeSetting,typeSetting]">
                        <nz-card-meta [nzAvatar]="avatarTemplate">
                        </nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate>
                        <div></div>
                        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
                    </ng-template>
                    <ng-template #avatarTemplate>
                        <div>
                            <h3>Vue项目打包编译优化</h3>
                            <span>当一个较复杂的vue项目打包后，文件会非常大，而且访问时资源加载速度很慢，所以...</span>
                        </div>
                        <div class="margin-top-sl">
                            <nz-tag [nzColor]="'#108ee9'">web开发</nz-tag>
                            <nz-tag [nzColor]="'#108ee9'">vue.js</nz-tag>
                        </div>
                    </ng-template>
                    <ng-template #timeSetting>
                        <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                        <span class="margin-left-s">2019-08-14</span>
                    </ng-template>
                    <ng-template #typeSetting>
                        <i nz-icon nzType="book" nzTheme="outline"></i>
                        <span class="margin-left-s">前端技术</span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="5">
    </div>
</div>